{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "indent": ["warn", 2],
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "semi": ["warn", "never"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "lines-around-directive": "off",
    "padding-line-between-statements": "error",
    "linebreak-style": "off",
    "eol-last": ["warn", "always"],
    "no-unused-vars": "off",
    "prefer-template": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "max-len": "off",
    "no-console": "off",
    "nonblock-statement-body-position": ["error", "any"],
    "camelcase": "off",
    "strict": "off",
    "no-plusplus": "off",
    "consistent-return": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "no-nested-ternary": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "global-require": "off",
    "no-continue": "off"
    // "prefer-const": ["error", { "destructuring": "all" }],
    // "no-var": "error",
    // "object-shorthand": ["error", "always"],
    // "quote-props": ["error", "as-needed"],
    // "prefer-object-spread": "error",
    // "array-callback-return": "error"
  }
}
